* {
    font-variant-ligatures: none;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1c1e29;
}

/* .homePageLogo {
    height: 200px;
    width: 400px;
    margin-bottom: 10px;
} */